<ul class="nav">
  <li class="nav-item">
    <%= link_to "Home", "/", class: "nav-link"%>
  </li>
  <li class="nav-item">
     <%= link_to "Articles", articles_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Create", new_article_path, class: "nav-link"%>
  </li>
</ul>